<article>
  <h2 class="text-3xl">About Me</h2>
  <p class="bg-gray-200 p-3 max-w-lg italic rounded-full text-center">
    Programming is Language Agnostic
  </p>
  <p>
    I'm a passionate web developer with a professional history in React, Angular, EcmaScript, NodeJS, NextJS, Laravel, Lumen, and AWS Technologies.
  </p>
  <h3 class="text-2xl">
    Professional History
  </h3>
  <p>
    Directly after earning my Associates in Computer Science at Sierra College I started a job at a start up called JLM energy as a Front End Developer that quickly became a full stack developer role. It was a fun and accelerated learning experience where at one point I was the only developer left that had to step up and take the reigns of the web development.
  </p>
</article>

