<article>
  <header class="mb-2">
    <h2 class="text-3xl mb-0">About Me</h2>
    <p class="-mt-2 text-gray-700 text-sm">Credence, goals, and history</p>
  </header>
  <p class="bg-teal-800 p-3 max-w-lg italic rounded-full text-center text-white font-medium font-mono">
    Programming is Language Agnostic
  </p>
  <p>
    Language doesn't matter as much as problem solving, 
    learning aptitude, 
    adaptability, 
    and maintainability. 
    I am a Programmer. 
    I do not code for a language. 
    <em>I program</em>.
  </p>
  <p>
    This means I like learning and that's always been true even when I was a child. My hobbies all require learning, adapting, evolving, and improving. I like to read medical and science articles/journals, play competitive games, get better at solving Rubik's cubes, learn new technologies, explore DIY projects, and become a better programmer. Many weekends will see me between matches reading a dense article or working on a project. This even extended to the parts I loved about my professional career.
  </p>
  <p>
    I've also worked for the Hilton group on their customer retention program Hilton Honors using NextJS, ReactJS, React-i18n, GraphQl, Styled Components, Jest, Testing Library, Markdown in React, and Twillio. Hilton had an eye on perfection. If we weren't 100% WCAG compliant we'd have to make that code compliant. I worked closely with developers and accessibility(a11y) experts there to release one of the greatest customer retention programs a hotel has ever seen.
  </p>
  <p>
    I've also worked for the Hilton group 
    on their customer retention program Hilton Honors 
    using NextJS, ReactJS, GraphQl, Styled Components, 
    Jest, Testing Library, Markdown in React, and Twillio.
  </p>
  <p>
    Both of these were great learning opportunities but eventually outside of works I'd find myself exploring other facets of web design. I taught myself Angular(which this application is written in), Figma, and I stumbled upon this great website years ago when it was still articles on Medium called Refactoring UI. I soaked up the articles and was sadly disappointed when I couldn't afford the website subscription. I still have the articles bookmarked along with the website. Then, completely randomly when researching new CSS processing technologies that would allow me to void the context re-rendering problems of Styled Components I found TailwindCSS. Then I noticed a job application.
  </p>
  <p>
    So I spun up this app in Angular as a refresher to a technology I hadn't used since Angular 2, moved the testing environment over to Jest and Testing Library, configured TailwindCSS, wrote this page, checked my accessibility, and sent it in. This wasn't even a second thought when I noticed it. I started right away repurposing what was just a private refresher on Angular into a whole application. I want to learn, and what better way to learn than being at the forefront of a new emergent technology?
  </p>
  <p>
    For more information about me feel free to visit my LinkedIn profile, you'll find a link in the banner.
  </p>
  <p>
    If you're curious about the specifics of the application instead, head on over to the <a routerLink="/about">Technical info page</a>.
  </p>
</article>

