<article>
  <h2>
    Accessibility
  </h2>
  <p>
    This page is Accessibility(a11y) friendly! It's dynamic in size, and when made to view as mobile it has a navigation header with proper accessibility concerns and a proper focus trap.  
    <a href="https://www.deque.com/axe/" target="new">Deque axe</a> 
    reports no a11y violations except some false positives due to layering and hiding.
  </p>
  <h2>
    Angular
  </h2>
  <p>
    I already have a strong background in React, so I did this in Angular since I haven't used Angular in a few years since the Angular 2 release candidates. That mobile navigation was hard to make a11y friendly and a lot has changed since then.
  </p>
  <h2>
    Testing
  </h2>
  <p>
    This application was made to use 
    <a href="https://jestjs.io/" target="new">Jest</a> 
    and 
    <a href="https://testing-library.com/docs/angular-testing-library/intro" target="new">Testing Library</a>, 
    which I've written 
    <a href="https://unicorn-utterances.com/posts/writing-better-angular-tests/" target="new">an article for</a> 
    on Unicorn Utterances. This made it really easy to make sure that every page and feature has coverage.
  </p>
  <h2>
    Styles
  </h2>
  <p>
    This application uses 
    <a href="https://tailwindcss.com/" target="new">TailwindCSS</a> 
    for its styles. It's designed mobile-first and "grows up" from there. 
    I learned it using this app and I like it <em>a lot!</em>
  </p>
  <h2>
    Browser Support
  </h2>
  <p>
    Remember Microsoft's own words. 
    <a target="new" href="https://techcommunity.microsoft.com/t5/windows-it-pro-blog/the-perils-of-using-internet-explorer-as-your-default-browser/ba-p/331732">IE11 isn't a browser anymore it's a compatibility solution.</a> 
    So I don't support it. If you try to render this page in IE it only explains that.
  </p>
  <h2>
    Semantic HTML
  </h2>
  <p>
    The only <span class="bg-gray-300 rounded-lg px-2">div</span> elements you'll find are part of the Angular CDK FocusTrap. All the HTML is semantic.
  </p>
  <h2>
    Check it out on GitHub!
  </h2>
  <p>
    You can peruse the code on the 
    <a target="new" href="https://github.com/skatcat31/portfolio">GitHub repo</a> 
    for this application by following the link in the header!
  </p>
</article>
