a {
  @apply mb-2 mr-2 pl-2 ml-2
}

.activeLink {
  @apply bg-gray-200 shadow
}

@media (max-width: 639px) {
  nav {
    @apply bg-teal-800 sticky left-0 top-0 text-white w-screen;
  }

  section {
    height: 0vh;
    width: 0vw;
    overflow: hidden;
    transition: width 0.2s;
    z-index: 1;
    position: absolute;
    background-color: white;
  }
  
  section.expanded {
    height: 100vh;
    width: 100vw;
  }
}