<nav *ngIf="mobile" cdkTrapFocus="{{expanded}}">
  <button
    class="flex items-center w-screen"
    (click)="toggleChecked()"
    [attr.aria-expanded]="expanded"
    for="sidebar:section"
  >
    <svg viewBox="0 0 100 80" width="20" height="20" class="m-2 ml-6">
      <rect width="100" height="20" fill="white"></rect>
      <rect y="30" width="100" height="20" fill="white"></rect>
      <rect y="60" width="100" height="20" fill="white"></rect>
    </svg>
    Navigation
  </button>
  <section
    class="flex flex-col shadow-lg {{expanded ? 'expanded' : ''}}"
    [attr.aria-hidden]="!expanded"
    id="sidebar:section"
  >
    <a
      routerLink="/"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.aria-hidden]="!expanded"
      [tabIndex]="!expanded ? -1 : 0"
      #focusTarget
    >
      About Me
    </a>
    <a
      routerLink="/about"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.aria-hidden]="!expanded"
      [tabIndex]="!expanded ? -1 : 0"
    >
      About Site
    </a>
  </section>
</nav>

<nav *ngIf="!mobile">
  <section
    class="flex flex-col"
  >
    <a
      routerLink="/"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      About Me
    </a>
    <a
      routerLink="/about"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      About Site
    </a>
  </section>
</nav>