@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can add global styles to this file, and also import other style files */
a {
  @apply text-blue-700 underline;
}
app-sidebar {
  min-width: 25%;
}
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 text-teal-800;
}

app-root {
  display: none;
}

@supports not (old: ie) {
  app-root {
    display: initial;
  }
  .ieWarning {
    display: none;
  }
}